.fade-top-down-enter-active,
.fade-top-down-leave-active {
    transition: all 0.3s ease;
}

.fade-top-down-enter-from,
.fade-top-down-leave-to {
    opacity: 0;
    transform-origin: top;
    transform: translateY(-100%);
}

.fade-bottom-up-enter-active,
.fade-bottom-up-leave-active {
    transition: all 0.3s ease;
}

.fade-bottom-up-enter-from,
.fade-bottom-up-leave-to {
    opacity: 0;
    transform-origin: top;
    transform: translateY(100%);
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
